@charset "utf-8";
/* CSS Document */

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body{
	display: table-cell;
    vertical-align: middle;
}
	
p {
	font-family:Georgia, "Times New Roman", Times, serif;
}

